#footer
  .container.text-muted.text-center
    Made by
    %a{href: 'http://github.com/augustt198'} augustt198
    •
    - sha = `git rev-parse --short HEAD`
    - if !sha.include? 'fatal'
      Revision
      %a{href: 'http://github.com/craft-bin/web/commit/' + sha}= sha